.app-wrapper {
  width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-areas:
    /* "header header header" */
    "nav content content";
  grid-template-columns: 170px 1fr;
  grid-template-rows: 1fr;
  grid-gap: 10px;
}

.app-wrapper-content {
  background-color: white;
  grid-area: content;
  border-radius: 15px;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
  overflow: hidden;
}


